@import "../../variables";

.paragraphText {
  font-family: $main-text-font;
  color: $main-text-color;
  font-size: 0.9rem;
  line-height: 1.8rem;
  padding-right: 10em;
  margin-bottom: 1.7em;
}

@media screen and (max-width: 480px) {
  .paragraphText {
    font-size: 0.8rem;
    padding-right: 1em;
  }
}

@media screen and (max-width: 768px) {
  .paragraphText {
    font-size: 0.8rem;
    padding-right: 1em;
  }
}
