@import "../../variables";

* {
  box-sizing: border-box;
}
.navbar {
  &__hamburger {
    display: none;
  }

  &__mobileList {
    display: hidden;
    text-decoration: none;
    list-style-type: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar__hamburgerIcon {
    color: $dark-text-color;
    font-size: 2.5rem;
  }

  .navbar {
    &__mobileList {
      position: fixed;
      right: 0;
      top: 3em;
      padding-right: 2em;
      background-color: #ffffff;
      text-align: right;
      color: $dark-text-color;
      font-weight: 600;
      font-family: $main-text-font;
    }

    &__hamburger {
      display: block;
      position: fixed;
      right: 1.5em;
      top: 0.5em;
    }

    &__toggle {
      position: fixed;
      right: 1.5em;
      top: 0.5em;
      opacity: 0;
      height: 45px;
      width: 45px;
    }

    &__mobile__link {
      padding: 5px 0;
    }
  }
  .navbar__mobile__link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: $pink-text-color;
    text-decoration-thickness: 3px;
    cursor: pointer;
  }
}
