@import "../../variables";

.about {
  background-color: $background-grey-color;
  display: flex;
  flex-direction: row;
  margin: 0 6.7em;
  padding-top: 5.5em;
  padding-bottom: 5.5em;

  &__titles {
    font-family: $heading-text-font;
    font-size: 0.8rem;
    color: $dark-text-color;
    letter-spacing: 1px;
    font-weight: 600;
  }
  &__sections {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-left: 3.8em;
    padding-right: 10em;
  }

  &__section2 {
    grid-column: 1 / 2;
  }

  &__section3 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &__hoverText {
    width: 50%;
    padding-left: 14.5em;
  }

  &__links {
    font-weight: 500;
    font-size: 1rem;
    color: $main-text-color;
  }
}

.about__links:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .about {
    margin-right: 1.5%;
    display: flex;
    flex-direction: column-reverse;

    &__sections {
      margin-bottom: 1em;
      margin-left: 1em;
      width: 100%;
      gap: 1em;
    }

    &__hoverText {
      width: 100%;
      padding-left: 1em;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;

    &__sections {
      padding-left: 1em;
      padding-right: 1em;
    }

    &__hoverText {
      padding-left: 10%;
      padding-right: 1em;
    }

    &__links {
      font-size: 0.8rem;
    }
  }
}
