@import "../../variables";

.mainHeading1 {
  color: $dark-text-color;
  font-family: $heading-text-font;
  font-size: 2.2rem;
  font-weight: 500;
}

.mainHeading2 {
  color: $main-text-color;
  font-family: $heading-text-font;
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: -1em;
}
