@import "../../variables.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__brand {
    color: $pink-text-color;
    font-size: 0.8rem;
    margin-top: 9.8em;
    letter-spacing: 1px;
    font-weight: 500;
  }
  &__img {
    display: relative;
    margin-top: -7em;
    width: 98%;
    height: auto;
    z-index: -1;
  }

  &__text {
    padding-left: $padding-left;
    width: 50%;
  }

  &__img__container {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-right: 1em;
  }
}

@media screen and (max-width: 400px) {
  .header {
    flex-direction: column-reverse;

    &__img {
      margin-top: 1rem;
      width: 100vw;
    }

    &__brand {
      margin-top: none;
    }

    &__text {
      padding-left: 1rem;
    }
  }
}
