@import "../../variables";

.navbar {
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent;

  &__logo {
    margin-left: 11em;
    margin-top: 1.8em;
    max-width: 9.5em;
  }

  &__desktop {
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;

    &__list {
      font-family: $main-text-font;
      text-decoration: none;
      list-style-type: none;
      width: 52%;
      display: flex;
      justify-content: space-evenly;
      padding: 2em 9em 0 9em;
      color: #ffffff;
      font-size: 0.9rem;
    }
  }

  &__mobile {
    display: none;
  }
}

.desktop__link {
  display: flex;
  font-weight: 500;
}

.desktop__link:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (max-width: 400px) {
  .navbar {
    margin-top: none;
    height: 2.8rem;

    &__desktop {
      display: none;
    }

    &__logo {
      margin-left: 2rem;
      margin-top: none;
      max-width: 6rem;
    }

    &__mobile {
      display: block;
    }
  }
}
