@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

$main-text-font: "Open Sans", sans-serif;
$heading-text-font: "Poppins", sans-serif;
$main-text-color: #506473;
$dark-text-color: #19293a;
$pink-text-color: #c0345e;
$background-grey-color: #edeff1;
