@import "../../variables";

.button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
  text-decoration-color: $pink-text-color;
  font-family: $main-text-font;
  font-size: 0.9rem;
  font-weight: 600;
  box-shadow: inset 0 0 0 $pink-text-color;
  margin: 0 -0.25em;
  padding: 0 0 0.5em 0;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button:hover {
  box-shadow: inset 100px 0 0 0 $pink-text-color;
  color: white;
  cursor: pointer;
}

// .link {
//   background-color: white;
// }
// .link:visited {
//   background-color: $pink-text-color;
//   color: red;
// }
